.player {
  width: 100%;
  aspect-ratio: 4 / 3;
  background: var(--border);
  border-radius: 1rem;
  padding: auto;
  position: relative;
}

.disk {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  margin-left: 5%;
}
