
.main {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.main h2 {
  font-size: large;
  font-weight: bold;
}

.div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.div span {
  font-size: small;
  font-weight: 200;
  user-select: none;
}

.range-div {
  flex: 1;
  display: flex;
  align-items: center;
  height: .8rem;
  position: relative;
  background: var(--border);
  border-radius: var(--radius);
}

.range {
  cursor: pointer;
  opacity: 0;
  inset: 0;
  position: absolute;
}

.progress {
  height: 100%;
  border-radius: var(--radius);
  background: var(--primary);
}

.nib {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: height 0.25s linear;
}

.nib::after {
  content: "";
  position: absolute;
  border: 1px solid var(--muted-foreground);
  background: var(--secondary);
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.range-div:hover .nib {
  height: 150%;
}
